@import url("https://fonts.googleapis.com/css?family=Barlow:400,700,800,900");
@import url("https://fonts.googleapis.com/css?family=Archivo");
@import url("https://fonts.googleapis.com/css?family=Heebo");
* {
  outline: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

ul {
  text-decoration: none;
  list-style-type: none;
}

body {
  background-color: #fff0dc;
  font-family: 'Barlow', 'sans-serif';
  overflow-x: hidden;
  -ms-overflow-style: none;
}

body a,
body a:link,
body a:visited,
body a:active {
  color: #003cf0;
}

@-moz-document url-prefix() {
  html,
  body {
    overflow-y: scroll !important;
  }
}

body::-webkit-scrollbar {
  display: none;
}

#main {
  width: 100vw;
  height: 100%;
}

#preloader {
  width: 100vw;
  height: 100vh;
  background-color: #232323;
  position: fixed;
  z-index: 100;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  clip: rect(0, auto, auto, 0);
  -webkit-animation-duration: 2s;
          animation-duration: 2s;
  -webkit-animation-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
          animation-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
  -webkit-animation-iteration-count: 1;
          animation-iteration-count: 1;
  -webkit-animation-delay: 1s;
          animation-delay: 1s;
}

#preloader h2 {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  font-size: 15em;
  font-weight: 900;
  color: #303030;
  margin: 0;
}

#preloader #loader {
  position: absolute;
  width: 230px;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

#preloader #loader #k_awaken {
  -webkit-animation: k_floating 5s ease-in-out infinite;
          animation: k_floating 5s ease-in-out infinite;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

#preloader #loader-shadow {
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  bottom: 10%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#preloader #loader-shadow svg {
  -webkit-animation: k_shadow 5s ease-in-out infinite;
          animation: k_shadow 5s ease-in-out infinite;
}

@-webkit-keyframes loading {
  0% {
    clip: rect(0, 1200px, auto, 0);
  }
  100% {
    clip: rect(0, 0px, auto, 0);
  }
}

@keyframes loading {
  0% {
    clip: rect(0, 1200px, auto, 0);
  }
  100% {
    clip: rect(0, 0px, auto, 0);
  }
}

@-webkit-keyframes k_shadow {
  0%,
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  50% {
    -webkit-transform: scale(0.7);
            transform: scale(0.7);
  }
}

@keyframes k_shadow {
  0%,
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  50% {
    -webkit-transform: scale(0.7);
            transform: scale(0.7);
  }
}

@-webkit-keyframes k_floating {
  0%,
  100% {
    -webkit-transform: translateY(30px);
            transform: translateY(30px);
  }
  50% {
    -webkit-transform: translateY(-30px);
            transform: translateY(-30px);
  }
}

@keyframes k_floating {
  0%,
  100% {
    -webkit-transform: translateY(30px);
            transform: translateY(30px);
  }
  50% {
    -webkit-transform: translateY(-30px);
            transform: translateY(-30px);
  }
}

a,
a:focus,
a:hover {
  text-decoration: none;
  outline: 0;
  border: none;
  outline-style: none;
  -moz-outline-style: none;
}

.fillWhite {
  fill: #fff0dc;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

.fillBlue {
  fill: #003cf0;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

.fillBlack {
  fill: #232323;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

@media only screen and (max-width: 800px) {
  .on.fillBlue, .on.fillBlack {
    fill: #fff0dc;
  }
}

#navigation {
  position: fixed;
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;
  z-index: 10;
  pointer-events: none;
}

#navigation div {
  pointer-events: auto;
}

#logo {
  position: absolute;
  width: 30px;
  height: auto;
  left: 40px;
  top: 40px;
  cursor: pointer;
}

#social {
  position: absolute;
  left: 40px;
  bottom: 40px;
}

#social a {
  background-color: #232323;
  width: 20px;
  height: 20px;
  -webkit-mask-size: cover;
  mask-size: cover;
  -webkit-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
  cursor: pointer;
  display: block;
  opacity: .5;
}

#social a:nth-child(n+1) {
  margin-top: 20px;
}

#social a:hover {
  opacity: 1;
}

@media only screen and (max-width: 800px) {
  #social.on a {
    background-color: #fff0dc;
  }
}

#github {
  -webkit-mask-image: url("../img/github.svg");
          mask-image: url("../img/github.svg");
}

#linkedin {
  -webkit-mask-image: url("../img/linkedin.svg");
          mask-image: url("../img/linkedin.svg");
}

#behance {
  -webkit-mask-image: url("../img/behance.svg");
          mask-image: url("../img/behance.svg");
}

#instagram {
  -webkit-mask-image: url("../img/instagram.svg");
          mask-image: url("../img/instagram.svg");
}

#menu_block {
  position: absolute;
  right: 40px;
  top: 40px;
  width: 25px;
  cursor: pointer;
}

#menu_block .menuicon {
  display: block;
  width: 15px;
  height: 4px;
  background-color: #232323;
  -webkit-transition: all 0.1s ease-in-out;
  transition: all 0.1s ease-in-out;
}

#menu_block .menuicon.on {
  background-color: #fff0dc;
}

#menu_block .menuicon:nth-child(1), #menu_block .menuicon:nth-child(3) {
  margin-left: 10px;
}

#menu_block .menuicon:nth-child(1).on, #menu_block .menuicon:nth-child(3).on {
  margin-left: 0;
}

#menu_block .menuicon:nth-child(2) {
  margin-top: 6px;
  margin-bottom: 6px;
}

#menu_block .menuicon:nth-child(2).on {
  margin-left: 10px;
}

@media only screen and (max-width: 800px) {
  #menu_block {
    display: block;
  }
}

@media only screen and (min-width: 800px) {
  #menu_block {
    display: none;
  }
}

#menu_list {
  position: absolute;
  right: 40px;
  top: 40px;
  height: 25px;
}

#menu_list ul {
  margin: 0;
  padding: 0;
}

#menu_list ul li {
  padding: 1px;
  font-weight: 700;
  font-size: 1em;
  margin-right: 30px;
  display: inline-block;
  opacity: .5;
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
}

#menu_list ul li a {
  color: #232323;
}

#menu_list ul li:last-child {
  margin-right: 0;
}

#menu_list ul li.menu_selected {
  opacity: 1;
}

#menu_list ul li:hover {
  opacity: 1;
}

@media only screen and (max-width: 800px) {
  #menu_list {
    display: none;
  }
}

@media only screen and (min-width: 800px) {
  #menu_list {
    display: block;
  }
}

#mail {
  position: absolute;
  right: 40px;
  bottom: 40px;
}

#mail a {
  text-align: right;
  cursor: pointer;
  color: #232323;
  -webkit-transition: color 0.2s ease-in-out;
  transition: color 0.2s ease-in-out;
  font-weight: 700;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

#mail a:hover {
  color: #003cf0;
}

@media only screen and (max-width: 800px) {
  #mail.on a {
    color: #fff0dc;
  }
  #mail.on a:hover {
    color: #fff0dc;
  }
}

#menu {
  position: fixed;
  display: block;
  width: 100vw;
  height: 100vh;
  background-color: #003cf0;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  z-index: 5;
  opacity: 1;
}

#menu.hidden {
  opacity: 0;
}

#menu.out {
  display: none;
}

@media only screen and (max-width: 800px) {
  #menu {
    display: block;
  }
}

@media only screen and (min-width: 800px) {
  #menu {
    display: none;
  }
}

#menu_options {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  color: #fff0dc;
  z-index: 11;
}

#menu_options ul {
  padding: 0;
}

#menu_options ul li {
  font-weight: 900;
  margin: 20px 0;
  text-align: center;
  cursor: pointer;
  text-shadow: 0 0 0 #fff0dc;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  /* Extra small devices (phones, 600px and down) */
  /* Small devices (portrait tablets and large phones, 600px and up) */
  /* Medium devices (landscape tablets, 768px and up) */
  /* Large devices (laptops/desktops, 992px and up) */
  /* Extra large devices (large laptops and desktops, 1200px and up) */
}

#menu_options ul li:hover {
  text-shadow: 0.01em 0.01em 0 #232323, 0.02em 0.02em 0 #232323, 0.03em 0.03em 0 #232323, 0.04em 0.04em 0 #232323, 0.05em 0.05em 0 #232323, 0.06em 0.06em 0 #232323, 0.07em 0.07em 0 #232323, 0.08em 0.08em 0 #232323, 0.09em 0.09em 0 #232323, 0.1em 0.1em 0 #232323;
}

@media only screen and (max-width: 600px) {
  #menu_options ul li {
    font-size: 3em;
  }
}

@media only screen and (min-width: 600px) {
  #menu_options ul li {
    font-size: 3.5em;
  }
}

@media only screen and (min-width: 768px) {
  #menu_options ul li {
    font-size: 4em;
  }
}

@media only screen and (min-width: 992px) {
  #menu_options ul li {
    font-size: 4em;
  }
}

@media only screen and (min-width: 1200px) {
  #menu_options ul li {
    font-size: 4em;
  }
}

#menu_options a {
  color: #fff0dc;
}

#container {
  position: absolute;
  width: 100%;
  height: 100%;
}

.smooth {
  -webkit-transition: all 2s cubic-bezier(0.19, 1, 0.22, 1) 0s;
  transition: all 2s cubic-bezier(0.19, 1, 0.22, 1) 0s;
  -webkit-transform-origin: 0 0;
          transform-origin: 0 0;
  -webkit-transform: translate3d(0px, 0px, 0px);
          transform: translate3d(0px, 0px, 0px);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-perspective: 1000;
  -ms-perspective: 1000;
  perspective: 1000;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.content {
  position: absolute;
  height: 100%;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  /* Extra small devices (phones, 600px and down) */
  /* Small devices (portrait tablets and large phones, 600px and up) */
  /* Medium devices (landscape tablets, 768px and up) */
}

.content p::-moz-selection,
.content h1::-moz-selection,
.content h3::-moz-selection,
.content li::-moz-selection,
.content sup::-moz-selection,
.content span::-moz-selection {
  color: #fff;
  background: #232323;
}

.content p::selection,
.content h1::selection,
.content h3::selection,
.content li::selection,
.content sup::selection,
.content span::selection {
  color: #fff;
  background: #232323;
}

.content br::-moz-selection {
  background: #00000000;
}

.content br::selection {
  background: #00000000;
}

@media only screen and (max-width: 600px) {
  .content {
    width: 60%;
  }
}

@media only screen and (min-width: 600px) {
  .content {
    width: 75%;
  }
}

@media only screen and (min-width: 768px) {
  .content {
    width: 80%;
  }
}

#init .subtitle {
  margin: 0;
  position: absolute;
  left: 0;
  bottom: 90px;
  width: 100%;
  /* Extra small devices (phones, 600px and down) */
  /* Small devices (portrait tablets and large phones, 600px and up) */
}

@media only screen and (max-width: 600px) {
  #init .subtitle {
    font-size: 1em;
  }
}

@media only screen and (min-width: 600px) {
  #init .subtitle {
    font-size: 1.5em;
  }
}

@media only screen and (min-width: 1140px) {
  #init .subtitle {
    font-size: 2em;
  }
}

@media only screen and (min-width: 1340px) {
  #init .subtitle {
    font-size: 2.6em;
  }
}

#init #illustration img {
  position: absolute;
  -webkit-transform: scale(0.7);
          transform: scale(0.7);
  -webkit-transform-origin: top left;
          transform-origin: top left;
  -webkit-transition: all .4s ease-in-out;
  transition: all .4s ease-in-out;
  pointer-events: none;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

#init #illustration #k_mini_balls {
  opacity: .6;
}

@media only screen and (max-width: 1139px) {
  #init #illustration #k_mini_balls {
    top: 7%;
    left: 50%;
    -webkit-transform: scale(0.6) translateX(-50%);
            transform: scale(0.6) translateX(-50%);
    -webkit-transform-origin: top left;
            transform-origin: top left;
  }
}

@media only screen and (min-width: 1140px) {
  #init #illustration #k_mini_balls {
    -webkit-transform: scale(0.75);
            transform: scale(0.75);
    -webkit-transform-origin: top left;
            transform-origin: top left;
    top: 7%;
    left: 4%;
  }
}

#init #illustration #k_computer {
  right: 26%;
  top: 23%;
}

#init #illustration #k_vivecontroller {
  top: 45%;
  left: 6%;
}

@media only screen and (max-width: 1140px) {
  #init #illustration #k_vivecontroller {
    opacity: 0;
  }
}

#init #illustration #k_vive {
  top: 8%;
  left: 11%;
}

@media only screen and (max-width: 1140px) {
  #init #illustration #k_vive {
    opacity: 0;
  }
}

#init #illustration #k_iphone {
  bottom: -10%;
  right: -15%;
}

@media only screen and (max-width: 1139px) {
  #init #illustration #k_wizard {
    top: 10%;
    left: 50%;
    -webkit-transform: scale(0.55) translateX(-50%);
            transform: scale(0.55) translateX(-50%);
    -webkit-transform-origin: top left;
            transform-origin: top left;
  }
}

@media only screen and (min-width: 1140px) {
  #init #illustration #k_wizard {
    top: 10%;
    right: 2%;
  }
}

@media only screen and (min-width: 1340px) {
  #init #illustration #k_wizard {
    top: 10%;
    right: 3%;
  }
}

@media only screen and (max-width: 1139px) {
  #init #illustration #k_grimoire {
    top: 24%;
    left: 50%;
    -webkit-transform: scale(0.55) translateX(-50%);
            transform: scale(0.55) translateX(-50%);
    -webkit-transform-origin: top left;
            transform-origin: top left;
  }
}

@media only screen and (min-width: 1140px) {
  #init #illustration #k_grimoire {
    top: 29%;
    right: 14%;
  }
}

#init #illustration #k_big_balls {
  -webkit-transform: scale(0.75);
          transform: scale(0.75);
  -webkit-transform-origin: top left;
          transform-origin: top left;
  top: 2%;
  left: -4%;
  opacity: .1;
}

@-webkit-keyframes fadeOutDown {
  0% {
    opacity: 1;
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  100% {
    opacity: 0;
    -webkit-transform: translateY(20px);
    transform: translateY(20px);
  }
}

@keyframes fadeOutDown {
  0% {
    opacity: 1;
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  100% {
    opacity: 0;
    -webkit-transform: translateY(20px);
    transform: translateY(20px);
  }
}

@-webkit-keyframes fadeInDown {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-20px);
    transform: translateY(-20px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}

@keyframes fadeInDown {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-20px);
    transform: translateY(-20px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}

.view.ng-enter {
  -webkit-animation-name: fadeInDown;
          animation-name: fadeInDown;
  -webkit-animation-duration: 0.4s;
  animation-duration: 0.4s;
  -webkit-animation-delay: .5s;
  animation-delay: .5s;
  -webkit-animation-timing-function: ease;
  animation-timing-function: ease;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.view.ng-leave {
  -webkit-animation-name: fadeOutDown;
          animation-name: fadeOutDown;
  -webkit-animation-duration: 0.4s;
  animation-duration: 0.4s;
  -webkit-animation-timing-function: ease;
  animation-timing-function: ease;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.titles {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  font-size: 4.5em;
  font-weight: 900;
  color: #003cf0;
  margin: 0;
}

.subtitle {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  font-weight: 700;
  line-height: 1em;
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
}

.subtitle span {
  color: #003cf0;
}

.description {
  font-family: "Heebo", "sans-serif";
  font-size: .9em;
  line-height: 1.4em;
  color: #232323;
  margin: 0;
}

#project_nav {
  position: fixed;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  right: 20%;
  z-index: 2;
}

#project_tag_list {
  font-family: 'Archivo', 'sans-serif';
  font-size: 1.15em;
  margin: 0;
  padding-left: 5px;
}

#project_tag_list li {
  margin-top: 4px;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  cursor: pointer;
}

#project_tag_list li:nth-child(1) {
  margin-top: 12px;
}

#project_list {
  padding-top: 40px;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 60%;
}

.project {
  position: relative;
  background-color: #000;
  -webkit-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  background-position: center;
  background-size: cover;
  border-radius: 10px;
  padding: 0;
}

@media only screen and (min-width: 800px) {
  .project {
    width: 250px;
    height: 400px;
    margin: 10px;
  }
}

@media only screen and (min-width: 1200px) {
  .project {
    width: 250px;
    height: 400px;
    margin: 10px;
  }
}

@media only screen and (min-width: 1350px) {
  .project {
    width: 300px;
    height: 400px;
    margin: 10px;
  }
}

.project:nth-child(2) {
  margin-top: 100px;
}

.project:nth-child(2n+3) {
  margin-top: -80px;
}

.project a {
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
}

.project .overlay {
  background-color: rgba(0, 0, 0, 0.4);
  display: block;
  position: absolute;
  border-radius: 10px;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  color: #fff;
  opacity: 0;
  -webkit-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
}

.project .overlay:hover {
  opacity: 1;
}

.project .overlay p {
  margin: 0;
  position: absolute;
}

.project .overlay .project_date {
  top: 20px;
  left: 20px;
}

.project .overlay .project_tag {
  top: 20px;
  right: 20px;
}

.project .overlay .project_description {
  bottom: 20px;
  left: 20px;
  opacity: .7;
  font-size: .8em;
  font-family: "Archivo", "sans-serif";
}

.project .overlay .project_title {
  position: absolute;
  margin: 0;
  bottom: 34px;
  left: 20px;
  font-size: 2em;
}

.space {
  width: 100%;
  height: 80px;
}

.project_preview h1,
.project_preview p {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.project_preview h1 {
  margin: 0;
  font-size: 7em;
  font-weight: 900;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  color: #003cf0;
}

.project_preview p {
  position: absolute;
  margin: 0;
  font-size: 1.5em;
  top: 40%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.project_preview .scrolldown {
  width: 3px;
  height: 80px;
  position: absolute;
  bottom: 40px;
  left: 0;
  right: 0;
  margin: 0 auto;
}

.project_preview .scrolldown .scroll_line {
  width: 100%;
  height: 100%;
  display: block;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(50%, #232323), color-stop(50%, rgba(255, 255, 255, 0)));
  background: linear-gradient(to bottom, #232323 50%, rgba(255, 255, 255, 0) 50%);
  background-position: 0 -80px;
  background-size: 100% 200%;
  -webkit-animation: scrolldown 3s cubic-bezier(0.76, 0, 0.3, 1) forwards infinite;
          animation: scrolldown 3s cubic-bezier(0.76, 0, 0.3, 1) forwards infinite;
  -webkit-animation-delay: 1s;
          animation-delay: 1s;
}

@-webkit-keyframes scrolldown {
  0% {
    opacity: 0;
  }
  30% {
    background-position: 0 -80px;
    opacity: 1;
  }
  80% {
    background-position: 0 0;
  }
  100% {
    background-position: 0 80px;
    opacity: 1;
  }
}

@keyframes scrolldown {
  0% {
    opacity: 0;
  }
  30% {
    background-position: 0 -80px;
    opacity: 1;
  }
  80% {
    background-position: 0 0;
  }
  100% {
    background-position: 0 80px;
    opacity: 1;
  }
}

.project_overview {
  position: relative;
  margin: 0 auto;
  margin-top: 50px;
  width: 55%;
  height: 320px;
  font-family: "Heebo", "sans-serif";
}

.project_overview p::-moz-selection,
.project_overview h3::-moz-selection,
.project_overview h2::-moz-selection {
  color: #fff;
  background: #232323;
}

.project_overview p::selection,
.project_overview h3::selection,
.project_overview h2::selection {
  color: #fff;
  background: #232323;
}

.project_overview h3,
.project_overview p {
  margin: 0;
}

.project_overview h3 {
  font-family: "Archivo", "sans-serif";
  position: absolute;
  font-size: 2.5em;
  width: 600px;
  text-align: center;
  left: 50%;
  -webkit-transform: translate(-50%);
          transform: translate(-50%);
}

.project_overview div {
  display: inline-block;
}

.project_overview .subtitle {
  font-family: "Archivo", "sans-serif";
  font-weight: 700;
  color: #003cf0;
  margin-bottom: 16px;
}

.project_overview .project_role,
.project_overview .project_team {
  width: 150px;
  position: absolute;
  left: 0;
}

.project_overview .project_role {
  top: 140px;
}

.project_overview .project_team {
  top: 223px;
}

.project_overview .project_team.individual {
  display: none;
}

.project_overview .project_summary {
  width: 650px;
  position: absolute;
  right: 0;
  top: 140px;
}

.project_article {
  width: 900px;
  margin: 0 auto;
  margin-top: 20px;
}

.project_article p::-moz-selection,
.project_article h1::-moz-selection,
.project_article h2::-moz-selection,
.project_article h4::-moz-selection,
.project_article li::-moz-selection,
.project_article img::-moz-selection,
.project_article br::-moz-selection,
.project_article sup::-moz-selection,
.project_article span::-moz-selection {
  color: #fff;
  background: #232323;
}

.project_article p::selection,
.project_article h1::selection,
.project_article h2::selection,
.project_article h4::selection,
.project_article li::selection,
.project_article img::selection,
.project_article br::selection,
.project_article sup::selection,
.project_article span::selection {
  color: #fff;
  background: #232323;
}

.project_article .flexing {
  position: relative;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: start;
      align-content: flex-start;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.project_article .flexing .icon {
  width: 15%;
  height: 120px;
  float: left;
  padding-right: 15px;
}

.project_article .flexing .icon img {
  max-width: auto;
  max-height: 40px;
}

.project_article .flexing .principle {
  width: 35%;
  margin: 0 5%;
}

.project_article .flexing .principle h4 {
  margin-bottom: 10px;
}

.project_article h2,
.project_article h4,
.project_article p {
  display: block;
}

.project_article h2 {
  font-family: "Barlow", "sans-serif";
  font-size: 3em;
  margin: 60px 0 20px 0;
  color: #003cf0;
  text-align: center;
  clear: both;
}

.project_article h4 {
  position: relative;
  font-family: "Archivo", "sans-serif";
  font-size: 1.5em;
  font-weight: 700;
  margin: 0;
  margin-bottom: 20px;
  color: #232323;
}

.project_article h4.alternate {
  color: #888888;
}

.project_article h4.center {
  margin: 0 auto;
  margin-bottom: 20px;
  text-align: center;
}

.project_article h4.right {
  text-align: right;
}

.project_article h4.no-margin {
  margin-bottom: 0;
}

.project_article p {
  font-family: "Heebo", "sans-serif";
  margin: 0;
  margin-bottom: 20px;
}

.project_article p.center {
  text-align: center;
}

.project_article p.right {
  text-align: right;
}

.project_article li {
  font-family: "Heebo", "sans-serif";
}

.project_article img {
  margin: 0 auto;
  width: auto;
  height: auto;
  max-width: 100%;
  max-height: 100%;
}

.project_article img.center-h {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.project_article img.alpha {
  padding: 20px;
}

.project_article div.image {
  position: relative;
  display: block;
  width: 100%;
  margin-bottom: 20px;
}

.project_article div.image-screen {
  position: relative;
  display: block;
  width: 100%;
  margin-bottom: 60px;
}

.project_article div.image-screen::after {
  content: "";
  display: block;
  padding-bottom: 100%;
}

.project_article div.image-full {
  position: relative;
  display: block;
  width: 100%;
  height: 500px;
  margin-bottom: 20px;
}

.project_article div.image-half {
  display: inline-block;
  position: relative;
  width: 50%;
}

.project_article div.image-half::after {
  content: "";
  display: block;
  padding-bottom: 100%;
}

.project_article div.image-third {
  display: inline-block;
  position: relative;
  width: 33.33%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.project_article div.image-third::after {
  content: "";
  display: block;
  padding-bottom: 100%;
}

.project_article div.half {
  width: 45%;
}

.project_article div.half.left {
  margin: 0 5% 20px 0;
  text-align: right;
}

.project_article div.half.right {
  margin: 0 0 20px 5%;
  text-align: left;
}

.project_article div.half.center {
  margin: 0 auto 20px auto;
  text-align: center;
}

.lifekeeper h2 {
  color: #ff0050;
}

.nightmares h2 {
  color: #6e7d9a;
}

.hictio h2 {
  color: #d35f42;
}

.napole h2 {
  color: #8b27b8;
}

.slide {
  width: 100%;
  height: 100vh;
  position: relative;
}

.marker {
  width: 2px;
  height: 80px;
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  bottom: -40px;
  background-color: #003cf0;
}

#title_about {
  position: absolute;
  top: 100px;
}

.grid {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  height: 68vh;
  z-index: 5;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media only screen and (max-width: 1025px) {
  .grid {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
  }
}

@media only screen and (min-width: 1025px) {
  .grid {
    left: 0;
  }
}

@media only screen and (min-width: 1160px) {
  .grid {
    left: 3%;
  }
}

.grid .description {
  margin: 0;
  margin-right: 30px;
}

@media only screen and (max-width: 768px) {
  .grid .description {
    width: 220px;
    margin-bottom: 20px;
    font-size: .8em;
  }
}

@media only screen and (min-width: 768px) {
  .grid .description {
    width: 220px;
    margin-bottom: 20px;
    font-size: .8em;
  }
}

@media only screen and (min-width: 1160px) {
  .grid .description {
    width: 260px;
    font-size: .9em;
  }
  .grid .description:nth-child(1) {
    margin-bottom: 140px;
  }
  .grid .description:nth-child(2) {
    margin-top: 250px;
  }
}

#photo_about {
  background: #003cf0;
  background-image: url("../img/test_3.jpg");
  background-size: cover;
  background-position: center;
  position: absolute;
  right: 0;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  width: 350px;
  height: 550px;
}

@media only screen and (max-width: 768px) {
  #photo_about {
    width: 280px;
    height: 550px;
  }
}

@media only screen and (min-width: 768px) {
  #photo_about {
    width: 350px;
    height: 550px;
  }
}

@media only screen and (min-width: 1065px) {
  #photo_about {
    width: 40%;
  }
}

#contact {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  height: 50%;
}

#contact #coffee {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  height: 400px;
  width: 400px;
  background-image: url("../img/coffee.png");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

#contact #coffee_msg {
  height: 100%;
  margin-left: 450px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
}

#contact p {
  font-family: "Heebo", "sans-serif";
  font-size: 1em;
  margin: 0;
}

#contact a {
  margin: 0;
  font-family: "Barlow", "sans-serif";
  font-size: 4em;
  font-weight: 700;
}

#skillContent {
  width: 100%;
  height: 500px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#skillContent #skills {
  width: 450px;
  margin-right: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

#skillContent #skills h3 {
  font-size: 2.5em;
  font-weight: 900;
  color: #003cf0;
  margin: 0;
  display: inline-block;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

#skillContent #skills #toogle_skill {
  display: inline-block;
  width: 25px;
  height: 25px;
  margin: auto 10px;
  cursor: pointer;
}

#skillContent #skills #skill_grid {
  width: 100%;
  height: 360px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media only screen and (max-width: 870px) {
  #skillContent #skills #skill_grid {
    display: none;
  }
}

@media only screen and (min-width: 870px) {
  #skillContent #skills #skill_grid {
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    -ms-flex-line-pack: center;
        align-content: center;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row wrap;
            flex-flow: row wrap;
  }
}

#skillContent #skills #skill_grid .skill_icon {
  width: 80px;
  height: 80px;
  display: inline-block;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  -webkit-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
}

@media only screen and (max-width: 870px) {
  #skillContent #skills #skill_grid .skill_icon:nth-child(1), #skillContent #skills #skill_grid .skill_icon:nth-child(3), #skillContent #skills #skill_grid .skill_icon:nth-child(5) {
    margin: 30px 30px 0 0;
  }
}

@media only screen and (min-width: 870px) {
  #skillContent #skills #skill_grid .skill_icon:nth-child(1), #skillContent #skills #skill_grid .skill_icon:nth-child(3), #skillContent #skills #skill_grid .skill_icon:nth-child(5) {
    margin-left: 0;
  }
}

@media only screen and (min-width: 1263px) {
  #skillContent #skills #skill_grid .skill_icon:nth-child(1), #skillContent #skills #skill_grid .skill_icon:nth-child(3), #skillContent #skills #skill_grid .skill_icon:nth-child(5) {
    margin-left: 50px;
  }
}

@media only screen and (max-width: 870px) {
  #skillContent #skills #skill_grid .skill_icon {
    margin: 30px 30px 0 0;
  }
}

@media only screen and (min-width: 870px) {
  #skillContent #skills #skill_grid .skill_icon {
    margin: 40px 40px 0 0;
  }
}

@media only screen and (min-width: 1263px) {
  #skillContent #skills #skill_grid .skill_icon {
    margin: 50px 50px 0 0;
  }
}

#skillContent #skills #skill_grid .skill_icon:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

#skillContent #skills #skill_grid .skill_icon .enable {
  opacity: 1;
}

#skillContent #skills #skill_grid .skill_icon .disabled {
  opacity: .3;
}

#skillContent #skills_img {
  width: 450px;
  height: 550px;
  background-color: #232323;
  background-size: cover;
  background-position: center;
}

#skillContent #skills_description {
  width: 450px;
  margin-left: 40px;
  opacity: 1;
  -webkit-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
}

#skillContent #skills_description .subtitle {
  font-size: 2.5em;
  margin: 0;
}

#skillContent #skills_description .description {
  width: 100%;
  margin: 20px 0;
}

#skillContent #skills_description #tools {
  height: 30px;
  width: 100%;
}

#skillContent #skills_description #tools .tool {
  display: inline-block;
  height: 100%;
  width: 30px;
  margin-right: 10px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

#skillContent #skills_description #tools .tool:last-child {
  margin-right: 0;
}

#skillContent #skills_description.change {
  opacity: 0;
  -webkit-transform: translateY(10px);
          transform: translateY(10px);
}
/*# sourceMappingURL=main.css.map */