@import url('https://fonts.googleapis.com/css?family=Barlow:400,700,800,900');
@import url('https://fonts.googleapis.com/css?family=Archivo');

* {
    outline: 0;
    box-sizing: border-box;
}

ul {
    text-decoration: none;
    list-style-type: none;
}

body {
    background-color: #fff0dc;
    font-family: 'Barlow', 'sans-serif';
    overflow-x: hidden;
    -ms-overflow-style: none;
}

@-moz-document url-prefix() {

    html,
    body {
        overflow-y: scroll !important;
    }
}

body::-webkit-scrollbar {
    display: none;
}

#main {
    width: 100%;
    height: 100%;
}

#preloader {
    width: 100%;
    height: 100vh;
    background-color: #232323;
    position: fixed;
    z-index: 100;
    user-select: none;
    clip: rect(0, auto, auto, 0);
    animation-duration: 2s;
    animation-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1) ;
    animation-iteration-count: 1;
    animation-delay: 1s;
}

@keyframes loading {
    0% {
        clip: rect(0, 1200px, auto, 0);
    }

    100% {
        clip: rect(0, 0px, auto, 0);
    }
}

#preloader h2 {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    font-size: 15em;
    font-weight: 900;
    color: #303030;
    margin: 0;
}

#preloader #loader {
    position: absolute;
    width: 230px;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

#preloader #loader-shadow {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 10%;
    display: flex;
    align-items: center;
}

#preloader #loader-shadow svg {
    animation: k_shadow 5s ease-in-out infinite;
}

.fillClearGray {
    fill: #101010;
}

@keyframes k_shadow {
    0%, 100% {
        transform: scale(1);
    }

    50% {
        transform: scale(0.7);
    }
}

#preloader #loader #k_awaken {
    animation: k_floating 5s ease-in-out infinite;
    animation-fill-mode: forwards;
}

@keyframes k_floating {

    0%, 100% {
        transform: translateY(30px);
    }

    50% {
        transform: translateY(-30px);
    }
}

a,
a:focus,
a:hover {
    text-decoration: none;
    outline: 0;
    border: none;
    outline-style: none;
    -moz-outline-style: none;
}

.fillWhite {
    fill: #fff0dc;
    transition: all 0.2s ease-in-out;
}

.fillBlue {
    fill: #003cf0;
    transition: all 0.2s ease-in-out;
}

.fillBlack {
    fill: #232323;
    transition: all 0.2s ease-in-out;
}

.fillBlack.on,
.fillBlue.on {
    fill: #fff0dc;
}

#navigation {
    position: fixed;
    width: 100%;
    height: 100vh;
    z-index: 10;
    pointer-events: none;
}

#navigation div {
    pointer-events: auto;
}

#logo {
    position: absolute;
    width: 30px;
    height: auto;
    left: 40px;
    top: 40px;
    cursor: pointer;
}

#social {
    position: absolute;
    left: 40px;
    bottom: 40px;
}

#social a {
    background-color: #b1b1b1;
    width: 20px;
    height: 20px;
    -webkit-mask-size: cover;
    mask-size: cover;
    transition: background-color 0.25s ease-in-out;
    cursor: pointer;
    display: block;
}

#social a:nth-child(n+1) {
    margin-top: 20px;
}

#social a:hover {
    background-color: #232323;
}

#social.on a:hover {
    background-color: #fff0dc;
}

#github {
    -webkit-mask-image: url("../img/github.svg");
    mask-image: url("../img/github.svg");
}

#linkedin {
    -webkit-mask-image: url("../img/linkedin.svg");
    mask-image: url("../img/linkedin.svg");
}

#behance {
    -webkit-mask-image: url("../img/behance.svg");
    mask-image: url("../img/behance.svg");
}

#instagram {
    -webkit-mask-image: url("../img/instagram.svg");
    mask-image: url("../img/instagram.svg");
}

#deploy {
    position: absolute;
    right: 40px;
    top: 40px;
    width: 25px;
    cursor: pointer;
}

#deploy .menuicon {
    display: block;
    width: 15px;
    height: 4px;
    background-color: #232323;
    transition: all 0.1s ease-in-out;
}

#deploy .menuicon.on {
    background-color: #fff0dc;
}

#deploy .menuicon:nth-child(1),
#deploy .menuicon:nth-child(3) {
    margin-left: 10px;
}

#deploy .menuicon:nth-child(1).on,
#deploy .menuicon:nth-child(3).on {
    margin-left: 0;
}

#deploy .menuicon:nth-child(2) {
    margin-top: 6px;
    margin-bottom: 6px;
}

#deploy .menuicon:nth-child(2).on {
    margin-left: 10px;
}

#mail a {
    position: absolute;
    right: 40px;
    bottom: 40px;
    text-align: right;
    cursor: pointer;
    color: #232323;
    transition: color 0.2s ease-in-out;
    font-weight: 700;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
}

#mail.on a {
    color: #fff0dc;
}

#mail a:hover {
    color: #003cf0;
}

#mail.on a:hover {
    color: #fff0dc;
}

#menu {
    position: fixed;
    display: block;
    width: 100%;
    height: 100vh;
    background-color: #003cf0;
    transition: all 0.2s ease-in-out;
    z-index: 5;
    opacity: 1;
}

#menu.hidden {
    opacity: 0;
}

#menu.out {
    display: none;
}

#menu_options {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff0dc;
    z-index: 11;
}

#menu_options ul {
    padding: 0;
}

#menu_options li {
    font-weight: 900;
    font-size: 4em;
    margin: 20px 0;
    text-align: center;
    cursor: pointer;
    text-shadow: 0 0 0 #fff0dc;
    transition: all 0.2s ease-in-out;
    user-select: none;
}

#menu_options a {
    color: #fff0dc;
}

#menu_options li:hover {
    text-shadow: 0.01em 0.01em 0 #232323,
        0.02em 0.02em 0 #232323,
        0.03em 0.03em 0 #232323,
        0.04em 0.04em 0 #232323,
        0.05em 0.05em 0 #232323,
        0.06em 0.06em 0 #232323,
        0.07em 0.07em 0 #232323,
        0.08em 0.08em 0 #232323,
        0.09em 0.09em 0 #232323,
        .1em .1em 0 #232323;
}

#container {
    position: absolute;
    width: 100%;
    height: 100%;
}

.content {
    position: absolute;
    width: 80%;
    height: 100%;
    left: 50%;
    transform: translateX(-50%);
}

#init h1 {
    font-size: 4.8em;
    font-weight: 900;
    color: #003cf0;
    margin: 0;
    line-height: 90px;
}

#init h1 span {
    color: #fff0dc;
    -webkit-text-stroke-width: 2.5px;
    -webkit-text-stroke-color: #003cf0;
}

#init p {
    margin: 0;
    margin-top: 5px;
    font-size: 1.4em;
    font-family: 'Archivo', 'sans-serif';
}

#init #initTitle {
    position: absolute;
    display: block;
    top: 50%;
    transform: translateY(-50%);
}

.content p::selection,
.content h1::selection,
.content h3::selection,
.content li::selection,
.content sup::selection,
.content span::selection {
    color: #fff;
    background: #003cf0;
}

#content br::selection {
    background: #00000000;
}

.titles {
    user-select: none;
    font-size: 3.5em;
    font-weight: 900;
    color: #003cf0;
    margin: 0;
}

#project-nav {
    position: fixed;
    top: 50%;
    transform: translateY(-50%);
    right: 5%;
    z-index: 2;
}

#project-tag-list {
    font-family: 'Archivo', 'sans-serif';
    font-size: 0.8em;
    margin: 0;
    padding: 0 0 0 20px;
    margin-top: 10px;
}

#project-tag-list li {
    margin-top: 5px;
    user-select: none;
    cursor: pointer;
}

#project-tag-list li:nth-child(1) {
    margin-top: 0
}

#project-list {
    position: relative;
}

.project {
    background: #000;
    margin: 20px 0px;
    perspective: 40px;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {

} 

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {

} 

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {

} 

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {

} 

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
    .project {
        width: 300px;
        height: 160px;
    }
}