<div class="content">
    <div class="slide">
        <h1 id="title_about" class="titles">About</h1>
        <div class="grid">
            <p class="description">
                {{description_1}}
                <br>
                <br>
                {{description_2}}
            </p>
            <p class="description">
                {{description_3}}
                <br>
                <br>
                {{description_4}}
            </p>
        </div>
        <div id="photo_about"></div>
    </div>
    <div class="marker"></div>
    <div class="slide">
        <div id="skillContent">
            <div id="skills">
                <h3>{{skillTitle}}</h3>
                <img src="../img/skills/icon/switch.svg" alt="Toogle Skill" id="toogle_skill" ng-click="toogleSkills()">
                <div id="skill_grid">
                    <div class="skill_icon" ng-repeat="skill in skills track by $index">
                        <img ng-src="{{skill.icon}}" alt="Skill Icon"
                            ng-style="changeSelected($index)"
                            ng-mouseover="changeSkill($index)">
                    </div>
                </div>
            </div>
            <div id="skills_img" ng-style="{'background-image': 'url({{skillImage}})'}">
            </div>
            <div id="skills_description" ng-class="{ 'change' : changeItem}">
                <h2 class="subtitle">{{skillName}}</h2>
                <p class="description">{{skillDescription}}</p>
                <div id="tools">
                    <div class="tool" ng-repeat="tool in skillTools" ng-style="{'background-image': 'url({{skillTools[$index].img}})'}"></div>
                </div>
            </div>
        </div>
    </div>
</div>